@font-face {
    font-family: 'zabras';
    src: url('/assets/fonts/zabars.ttf');
}

@font-face {
    font-family: 'ranchers';
    src: url('/assets/fonts/ranchers.ttf');
}

body {
    font-family: 'zabras', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: url('./assets/img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    position: relative;
    width: 720px;
    height: 480px;
}

canvas {
    width: 100%;
    height: 100%;
    background-color: black;
}

.start-screen {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.start-screen-buttons {
    z-index: 1;
    padding-top: 46px;
    display: flex;
    gap: 24px;
}

.settings-screen {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    color: #ffcc00;
    z-index: 1;
}

.settings-screen::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
    z-index: 1;
    border-radius: 15px;
}

.settings-content {
    z-index: 1;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.back-button {
    background-color: rgb(209, 58, 58);
    box-shadow: 0 4px rgb(142, 35, 35);
}

.back-button:active {
    box-shadow: 0 2px rgb(254, 69, 69);
    transform: translateY(2px);
}

.back-button:hover {
    background-color: rgb(254, 69, 69);
}

.key-icon {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background-color: #ffcc00;
    box-shadow: 0 4px #cc9900;
    margin-bottom: 8px;
    width: 48px;
    height: 48px;
}

.space {
    width: 72px;
}

.keybind-container {
    display: flex;
    gap: 36px;
    justify-content: center;
    align-items: center;
}

.keybind-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
    font-weight: 300;
    color: black;
}

.game-ui {
    position: absolute;
    right: 15px;
    bottom: 15px;
    display: flex;
    gap: 16px;
    z-index: 1;
}

.game-ui img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.end-game-image {
    width: 70%;
    height: 70%;
}

.end-game-screen {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.end-game-screen::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    pointer-events: none;
    z-index: 1;
    border-radius: 15px;
}

.end-game-screen button, .end-game-screen img {
    z-index: 1;
}